# .gitignore

# Don't add the virtual environment, IDE, outputs, or bids_dataset
venv
.idea
outputs
bids_dataset
stat_result.json
.ipynb_checkpoints
Write-up.ipynb
neurodocker.sh
flywheel
report_randomise.py
Dockerfile_light
todo
stdev.nii.gz
tsnr.nii.gz
