    <div id="Summary" style="top-padding: -20px">
        <h1 class="sub-report-title">Summary</h1>
    <ul class="elem-desc">
        <li>Subject ID: {{subject_id}}</li>
          <li>Functional series: {{task_number}}</li>
               <ul class="elem-desc">
                   {% for task in task_list %}
                    <li>{{task}}</li>
                   {% endfor %}
               </ul>
          <li>FWHM: {{fwhm}}</li>
          <li>Cluster extent threshold: {{cthresh}}</li>
          <li>Alpha: {{alpha}}</li>
        </ul>
        <h3> Reference table </h3>
        <table class="table table-striped">
                <th>Key</th><th>Definition</th>
                <tr>
                    <td>tSNR</td>
                    <td> the average BOLD signal (across time) divided by the corresponding temporal standard-deviation map.</td>
                </tr>
                <tr> <td>Left/Right %</td> <td>Activated voxels (p < 0.05, corr.) as a percentage of the specified
                    ROI in the left/right side </td>
                </tr>
                <tr>
                    <td>Mean FD</td>
                    <td>The average frame-wise displacement, an expression of instantaneous head motion</a></td>
                </tr>
                <tr>
                    <td>Superior/Middle/Inferior TG</td>
                    <td>Superior/Middle/Inferior Temporal Gyrus</td>
                </tr>
                <tr>
                    <td>Sup/Mid/Inf FG</td>
                    <td>Superior/Middle/Inferior Frontal Gyrus</td>
                </tr>
                <tr>
                    <td>mTL</td>
                    <td>Middle Temporal Lobe</td>
                </tr>
                 <tr>
                    <td>Laterality Index (LI)</td>
                    <td><img src="{{asym_ratio_eq}}"
                    ...where “left activation” = “Left %” (as above)></td>
                </tr>
                </table>
        <h3 style="color:red;" style="margin-top: 50%">NOTE: activation maps are oriented in neurological convention (i.e. RAS)</h3>
    </div>
